@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<Microservices.Web.Frontend.Models.DTO.Product.ProductDto>

@{
    ViewData["Title"] = "محصولات";
}

<h1>محصولات </h1>

 
<table class="table table-hover table-bordered table-responsive" >
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @item.price.ToString("n0") تومان
            </td>
            <td>
                <a asp-action="Details"
                   asp-controller="Product" 
                   asp-route-id="@item.id">
                    جزئیات
                </a>
           </td>
        </tr>
}
    </tbody>
</table>
