 @using Microservices.Admin.Frontend.Models.ViewServices.ProductServices;
@model List<ProductDto> ;

@{
    ViewData["Title"] = "Products List";
}

<h1>Products List</h1>

<table class="table table-hover">
    <thead>
        <tr>

            <th scope="col">Image</th>
            <th scope="col">Product</th>
            <th scope="col">Price</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@item.image" width="15" height="15" />
                </td>
                <td>@item.name</td>
                <td>@item.price.ToString("n0") t</td>
                <td class="row">
                    <a class="btn  btn-info" onclick="Rename('@item.id','@item.name')">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="renameproduct" tabindex="-1" role="dialog" aria-labelledby="RenameProducteeee" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Product Name</h5>
                
            </div>
            <form asp-action="UpdateName" asp-controller="Product">
                <div class="modal-body">
                    <input type="hidden" id="ProductId" name="ProductId" value="" />
                    <label>Product Name</label>
                    <br />
                    <input class="form-control col-md-12" type="text" id="Name" name="Name" value="" />
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Apply Changes</button>
                </div>
            </form>
        </div>
    </div>
</div>



@section Scripts
{
 
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>

    function Rename(productId, name) {
        $("#ProductId").val(productId);
        $("#Name").val(name);

        $('#renameproduct').modal('show');
    }

</script>
}
